body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#countlabel {
    text-align: center;
    font-size: 10em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#btncontainer {
    text-align: center;
}

.buttons {
    padding: 10px 20px;
    font-size: 1.5em;
    color: white;
    background-color: rgb(7, 18, 165);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
    margin: 0 10px;
}

.buttons:hover {
    background-color: black;
}